.adjust-width-center {
  padding-inline: max((100% - 1920px) / 2, 16px);
}


/* Header */
header {
  background-color: rgb(255, 128, 0);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img:hover {
  cursor: pointer;
}

.logo-bestellapp {
  width: 180px;
  padding-left: 30px;
}

.burger-menu {
  width: 80px;
  height: auto;
  fill: white;
  display: block;
  padding-right: 30px;
}

.burger-menu:hover {
  cursor: pointer;
}

/* Main Container */
.menu-content {
  display: flex;
  flex: 1;
}

/* Menu Sektion */
.menu-section {
  width: calc(100% - 300px);
  flex: 1;
}

.hero-div img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.orange-color {
  color: rgb(255, 128, 0);
}

.restaurant-name-div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}

.main-dishes {
  background-color: rgb(247, 247, 242);
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

.main-dishes h2 {
  color: #888a8e;
  font-size: 20px;
}

.arrow-right {
  fill: rgb(255, 128, 0);
  width: 40px;
  height: auto;
}

.burger-div img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  padding: 10px;
}

.render-main-dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

/* Basket Sektion*/
.shopping-cart {
  width: 300px;
  position: relative;
  border-left: 1px solid rgb(214, 212, 212);
}

.basket-div {
  width: 100%;
  height: 400px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.basket-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(214, 212, 212);
  padding: 10px;
}

.product-list-basket {
  border-bottom: 2px solid rgb(214, 212, 212);
  display: flex;
  flex-direction: column;
  padding: 10px;

}

.amount-price-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
}

.amount-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.amount {
  display: flex;
  align-items: center;
}

.summary-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 28px;
}

.price-distance {
  display: flex;
  justify-content: space-between;
}

/* Footer */
footer {
  background-color: rgb(255, 128, 0);
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 140px;
  height: auto;
  padding-top: 10px;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.social-media-icons img {
  width: 30px;
  height: auto;
}

/* Dialog */

.cart-dialog {
width: 90%;
max-width: 400px;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
border: none;
border-radius: 10px;
padding: 0px;
box-shadow: 0 0 15px rgba(0,0,0,0.4);
transition: transform 0.4s ease, opacity 0.4s ease;
}

.cart-dialog[open] {
opacity: 1;
}

.cart-dialog::backdrop {
  background: rgba(0,0,0,0.6);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(214, 212, 212);
}

.cart-header h2 {
  margin: 0;
}

.close-x {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

.cart-dialog-content {
min-height: 200px;
overflow-y: auto;
padding: 10px;
}

.text-empty-basket {
text-align: center;
padding: 20px;
}


@media (min-width: 800px) {

  .button-basket-div {
    display: none;
  }

  .basket-button {
    display: none;
  }
}

@media (max-width: 800px) {

  .shopping-cart {
    display: none;
  }

  .menu-section {
    width: 100%;
  }
}

@media (max-width: 400px) {

  h1 {
    font-size: 25px;
  }
}